{% extends "Clientes/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="main-container">
    <h1>Registrate</h1>
    <div>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{formulario | crispy}}
            </div>
            <button type="submit" class="btn btn-success">Registrarse</button>
        </form>
        <div>
            <small>
                Ya tienes una cuenta? <a href="{% url 'login' %}">Log in</a>
            </small>
        </div>
    </div>
</div>

{% endblock %}